<ion-header>
  <ion-toolbar>
    <ion-title>Login/Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" *ngIf="isLogin" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="loginForm.invalid">Log In</ion-button>
  </form>
  <form [formGroup]="signupForm" *ngIf="!isLogin" (ngSubmit)="signup()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">5 Hated Things</ion-label>
      <ion-input type="text" formControlName="hatedThings"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input type="text" formControlName="gender"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input type="text" formControlName="city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">State</ion-label>
      <ion-input type="text" formControlName="state"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="signupForm.invalid">Sign Up</ion-button>
  </form>
  <ion-button (click)="isLogin = !isLogin">Toggle Login/Sign Up</ion-button>
</ion-content>

<ion-footer *ngIf="isLogin">
  <ion-toolbar>
    <ion-text>Don't have an account?</ion-text>
    <ion-button (click)="isLogin = !isLogin">Sign Up</ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="!isLogin">
  <ion-toolbar>
    <ion-text>Already have an account?</ion-text>
    <ion-button (click)="isLogin = !isLogin">Log In</ion-button>
  </ion-toolbar>
</ion-footer>