<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ currentProfile.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ currentProfile.description }}
    </ion-card-content>
  </ion-card>
  <ion-button (click)="like()">Like</ion-button>
  <ion-button (click)="dislike()">Dislike</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="goToMatches()">Matches</ion-button>
  </ion-toolbar>
</ion-footer>




